[submodule "axelor-open-suite"]
	path = modules/axelor-open-suite
	url = git@github.com:axelor/axelor-open-suite.git
[submodule "modules/jawadsoft-suite"]
	path = modules/jawadsoft-suite
	url = https://github.com/k2fik/jawadsoft-suite.git
